@use '../../assets/scss/zilip-codehilite.scss';

.chat-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  .main-block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-height: 100%;
    overflow-y: auto;
    margin: 10px;
    .message-item {
      display: flex;
      flex-direction: column;
      gap: 6px;
      .message-author {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 2px;
        img.avatar {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          outline: 1px solid var(--vscode-chat-requestBorder);
        }
      }
      .message-content {
        padding: 0 6px;
        .rendered_markdown {
          padding: 13px 0;
        }
        div.codehilite {
          position: relative;
          border: solid 1px var(--main-border-color) !important;
          background-color: var(--code-background-color) !important;
          border-radius: 6px;
          padding: 13px 0 0 0;
          margin: 8px 0;
          .message-code-action {
            position: absolute;
            display: none;
            right: 0;
            top: 0;
            gap: 3px;
          }
          &:hover {
            .message-code-action {
              display: flex;
            }
          }
        }
      }
    }
  }
  .bottom-block {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 10px;
    background-color: var(--input-background-color);
    padding: 8px;
    .context-block {
      display: flex;
      gap: 5px;
      .add-context {
        cursor: pointer;
        display: inline-flex;
        padding: 2px;
      }
      .context-list {
        display: flex;
        gap: 5px;
        max-width: 100%;
        overflow-x: auto;
        scrollbar-width: none;
        .context-file {
          display: flex;
          gap: 2px;
          align-items: center;
          white-space: nowrap;
          padding: 0 2px;
          user-select: none;
          .remove {
            cursor: pointer;
          }
        }
      }
    }
    .input-block {
      position: relative;
      .mention-list {
        position: absolute;
        width: 100%;
        height: fit-content;
        bottom: calc(100% + .3rem);
        background-color: var(--main-background-color);
        user-select: none;
        .mention-item {
          padding: 2px;
          cursor: pointer;
          &:hover, &.selected {
            background-color: var(--highlight-background-color);
          }
        }
      }
      textarea {
        width: 100%;
        box-sizing: border-box;
        resize: none;
        background-color: var(--input-background-color);
        color: var(--main-foreground-color);
        border: none;
        &:focus {
          outline: none;
        }
      }
      .image-preview {
        position: absolute;
        height: 100%; 
        width: 100%; 
        inset: 0px; 
        color: transparent;
      }
    }
    .action-block {
      display: flex;
      .action-left {
        flex-grow: 1;
        display: flex;
      }
      .action-icon {
        cursor: pointer;
        padding: 2px;
      }
    }
  }
}
