# common
PROJECT_SETTING_HOST=https://pjd.collab.vietis.com.vn:9981

REALM_STRING=pjd-2
USER_EMAIL=
USER_API_KEY=

# webview
PUBLIC_URL=http://localhost:3000

ZULIP_PROTOCOL= 'http://'
ZULIP_BASE_DOMAIN= 'zulipdev.com:9991'
ZULIP_SECONDARY_DOMAIN= 'ide-ext.collab.vietis.com.vn:9981'