.vscode/**
.idea/**
.vscode-test/**
out/**
node_modules/**
src/**
packages/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
development.md
.env
.env.example
dist/webview
dist/vscode/report.html
deploy
